body {
    background-color: #e0dada;
    margin: 0%;
}
.header {
    background-color: white;
    height: 50px;
    margin-top: 0%;
    padding-top: 0%;
}
.box {
    width: 400px;
    background-color: white;
margin: auto;}

.headercard {
    width: 400px;
    display:flex;
}

.date {
margin-left: 230px;
color: lightgrey;
line-height: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-top: 10px;}

img {
    width: 400px;
    height: 300px;
}

.footer {
    text-align: justify;
    padding: 10px;
    display: block;

}
.footer p {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

h4 {
    padding: 0px 0px 0px 0px;
    margin: 10px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    margin: 0%;
    margin-left:570px;
       font-size: 20px;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.content {
    margin-top: 50px;
}